<div class="container mt-5">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="col-md-7 col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Food</th>
                        <th>Calories</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of IngredientsList.ingredients">
                        <th>{{item.parsed[0].quantity}}</th>
                        <th>{{item.parsed[0].measure}}</th>
                        <th>{{item.parsed[0].foodMatch}}</th>
                        <th>{{item.parsed[0].nutrients.ENERC_KCAL.quantity | number : '1.0-1'}}
                            {{item.parsed[0].nutrients.ENERC_KCAL.unit}}</th>
                        <th>{{item.parsed[0].weight | number : '1.0-1'}} g</th>
                    </tr>
                </tbody>
            </table>

            <div>
                <button type="button" (click)="showDetails = true" class="btn btn-success mb-5">Total
                    Nutrition</button>
            </div>
        </div>
        <div *ngIf="showDetails" class="col-md-4 col-12 totalIngredients">
            <table class="w-100">
                <thead>
                    <tr>
                        <th colspan="3" class="amps">Amount Per Serving</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2"><b>Calories</b></th>
                        <td>{{IngredientsList.totalNutrients.ENERC_KCAL.quantity | number : '1.0-1'}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Fat</b></th>
                        <td>{{IngredientsList.totalNutrients.FAT.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.FAT.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Cholesterol</b></th>
                        <td>{{IngredientsList.totalNutrients.CHOLE.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.CHOLE.unit}}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Sodium</b></th>
                        <td>{{IngredientsList.totalNutrients.NA.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.NA.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Carbohydrate</b></th>
                        <td>{{IngredientsList.totalNutrients.CHOCDF.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.CHOCDF.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Protein</b></th>
                        <td>{{IngredientsList.totalNutrients.PROCNT.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.PROCNT.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Vitamin</b></th>
                        <td>{{IngredientsList.totalNutrients.VITD.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.VITD.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Calcium</b></th>
                        <td>{{IngredientsList.totalNutrients.CA.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.CA.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Iron</b></th>
                        <td>{{IngredientsList.totalNutrients.FE.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.FE.unit}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><b>Potassium</b></th>
                        <td>{{IngredientsList.totalNutrients.K.quantity | number : '1.0-1'}}
                            {{IngredientsList.totalNutrients.K.unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>